# App
APP_PORT=3002
NODE_ENV=development

# Database (Supabase PostgreSQL)
DATABASE_URL=postgresql://<user>:<password>@<host>:6543/<db>?pgbouncer=true

# JWT
JWT_ACCESS_SECRET=<your-access-secret>

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=<your-redis-password>

# Microservice TCP
USERS_SERVICE_HOST=localhost
USERS_SERVICE_PORT=4002
AUTH_SERVICE_HOST=localhost
AUTH_SERVICE_PORT=4001
